// we are importing our base styles
@import "../2-base/base"

@import "../3-modules/form"
@import "../3-modules/headline"
@import "../3-modules/gallery"
@import "../3-modules/menu"
@import "../3-modules/paragraph"
@import "../3-modules/testimonial"



// mobile first styles

body
    background-color: $bodyBackgroundColor

.siteSection
    padding: 100px 20px

#siteMasthead
    height: 700px
    +setBackgroundImage("../../../images/banner-img.png")


    > .container
        +fluid(90%)
        padding: 25px 0

    & .menuCircle
        position: absolute
        top: 50%
        right: 0
        transform: translateY(-50%)


.contentWrapper
    position: relative
    height: 100%
    width: 100%

.line
    position: absolute
    width: 30px
    height: 30px

    @include states(topLeft)
        top: 0
        left: 0
    
    @include states(bottomLeft)
        bottom: 0
        left: 0
        transform: rotate(-90deg)
    
    @include states(topRight)
        top: 0
        right: 0
        transform: rotate(90deg)
    
    @include states(bottomRight)
        bottom: 0
        right: 0
        transform: rotate(180deg)

.textWrapper
    position: absolute
    height: 100%
    width: 100%
    text-align: center
    
    > h3
        letter-spacing: 4px
        font-weight: 300
        opacity: .84
        margin-bottom: 10em
        font-size: 1rem
        font-weight: 700
        color: $white
        text-transform: uppercase
        margin-top: 0
    
    > h1
        font-family: "another shabby"
        font-size: 6rem
        color: $white
        margin-bottom: 1em

// siet tour blurb        
#siteBlurb
    +setBackgroundImage("../../../images/tour-with-us-img.png")
    text-align: center

// site form section
#siteFormSection
    +setBackgroundImage("../../../images/form-img.png")


// siteSeaTour section
.threeColumn 
    padding: 0

    .row
        padding: 0px
        margin-bottom: 0.8em

        &:last-child
            margin-bottom: 0px

        @include has(col-4)
            height: 300px
            margin-bottom: 0.8em

            &:last-child
                margin-bottom: 0px

.count
    margin-right: em(12)

    &:last-child
        margin-right: 0

    @include has(item)
        font-size: rem(13)
        font-weight: 300
        color: #d4d4d4
        margin-right: em(7)


// Site package section
#sitePackageSection
    +setBackgroundImage("../../../images/package-img.png")
    text-align: center

    > .headline--accent
        margin-bottom: 3em
    
    > .headline--big
        margin-bottom: em(10)
    
    > .paraText
        text-transform: uppercase
        color: $white

#siteTestimonialSection
    +setBackgroundImage("../../../images/tour-with-us-img.png")
    background-position: top left
    text-align: center    
    padding-bottom: 50px

    > .container
        padding: 0

#siteFooter
    margin-top: em(100px)
    padding-top: 3.5em
    border-top: 2px solid #C8C8C8    
    text-align: center
        
    [class^='row__']
        margin-bottom: em(20)
    
    .socialMenu a
        font-size: rem(18)

.copyright
    font-size: rem(13)
    font-weight: 700
    text-transform: uppercase
    color: rgba(#767676, 0.40)


@media (min-width: 470px)
    .textWrapper > h1
        margin-bottom: 2em 

@media (min-width: 750px)
    .textWrapper > h1
        font-size: 7rem

    .three-column-grid .row
        margin-bottom: 0
    
    #siteFooter [class^='row__']
        margin-bottom: 0
    
    .socialMenu
        justify-content: flex-end

    .privacyMenu .siteMenu__item
        margin-right: em(40)

        &:last-child
            margin-right: 0