.headline
    font-size: rem(19)
    font-weight: 700
    text-transform: uppercase
    margin-top: 0
    text-align: center

    @include states(accent)
        color: $accentColor

    @include states(light)
        color: $white
    
    @include states(dark)
        color: $colorFontDark
    
    @include states(addedLine)
        &:after
            content: ""
            display: block
            width: 127px
            height: 3px
            margin: 2.5em auto 3.5em auto
            background-color: $accentColor
    
    @include states(big)
        font-size: rem(50)
        color: $white
        

// .headline--light
//     color: $white

// .headline--dark
//     color: $colorFontDark

// .headline--addedLine
//     &:after
//         content: ""
//         display: block
//         width: 127px
//         height: 3px
//         margin: 2.5em auto 3.5em auto
//         background-color: $accentColor