// single nav menu
.menuCircle
    display: flex
    flex-direction: column


    @include has(item)
        display: inline-block
        height: 10px
        width: 10px
        border-radius: 50%
        border: 1.5px solid $white

        @include states(isActive)
            background-color: $accentColor
            border: 1.5px solid $accentColor   

.menuCircle--isVertical
    flex-direction: column

    .menuCircle__item
        margin-bottom: 0.3em

        &:last-child
            margin-bottom: 0px

.menuCircle--isHorizontal
    flex-direction: row

    .menuCircle__item
        margin-right: 0.3em

        &:last-child
            margin-right: 0px
