.container.container--isFixed.marginTop--big
    .row
        row__col-1
            h1 Hello World

script(src="assets/bower_components/jquery/dist/jquery.js")
script(src="assets/scripts/functions.js")
