doctype html
html
  head
    include snippets/header
    title 
    // links
    link(rel="stylesheet", href="/assets/styles/css/templates/index.css")
  body
   
      
          
    include snippets/footer
